.country-data {
    display: flex;
    flex-direction: column;
}

.country-flag {
    border-radius: 0 !important;
    width: 100px;
}

.country-flag img {
    object-fit: contain;
}

.country-item {
    display: flex;
    align-items: center;
}

.main-data {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    gap: 20px;
    align-items: center;
}

.toggle-btn {
    cursor: pointer;
}

.toolbar {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}