<ion-menu contentId="home-content" type="overlay">
  <ion-header>
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home" routerDirection="root">
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item routerLink="/carros" routerDirection="root">
        <ion-icon name="car-sport" slot="start"></ion-icon>
        <ion-label>Carros</ion-label>
      </ion-item>
      <ion-item routerLink="/reparaciones" routerDirection="root">
        <ion-icon name="cog" slot="start"></ion-icon>
        <ion-label>Reparaciones</ion-label>
      </ion-item>
      <ion-item routerLink="/about" routerDirection="root">
        <ion-icon name="information-circle" slot="start"></ion-icon>
        <ion-label>Actualizaciones</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="toolbar">
      <ion-title>Inicio</ion-title>
      <ion-button (click)="openAuthModal()">Iniciar sesión</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content id="home-content">
  <h1>Bienvenido al sistema de taller mecánico</h1>
  <p>Seleccione una opción del menú</p>
</ion-content>

